@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOURS
 * Primary: #bae4d1
 * Background: #ffeeec
*/

* {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: -0.01rem;
    /* background-color: #f0f0f0; */
}

.ikigai-background {
    background-color: #fff7f5;
    background-image: url('../public/image/ikigai-landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAVBAR */

.navbar-container {
    @apply flex justify-between items-center py-8 mx-[2rem] md:mx-[8rem]
}