@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOURS
 * Primary: #bae4d1
 * Background: #ffeeec
*/

* {
    margin: 0;
    padding: 0;
    color: white
    /* background-color: #f0f0f0; */
}

.ikigai-background {
    background-color: #fff7f5;
    background-image: url('../public/image/ikigai-landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}